<div class="container-fluid text-center justify-content-center align-items-center cont">
    <div class="hourglassBackground" role="estado">
        <div class="hourglassContainer">
          <div class="hourglassCurves"></div>
          <div class="hourglassCapTop"></div>
          <div class="hourglassGlassTop"></div>
          <div class="hourglassSand"></div>
          <div class="hourglassSandStream"></div>
          <div class="hourglassCapBottom"></div>
          <div class="hourglassGlass"></div>
        </div>
    </div>
    <span class="text">Esperando al segundo jugador...</span>
</div>
